/* Begin CSS Reset
   source: http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS Reset */

h1 {
  background-size: contain;
  color: #494949;
  font-size: 1.7rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

header {
  display: flex;
  height: 5rem;
  width: 100%;
}

h2 {
  color: #494949;
  font-size: 1.3rem;
}

h3 {
  color: #017084;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1rem;
  margin-top: 0.8rem;
}

h1, h2, button, label{
  font-family: 'Roboto', sans-serif;
}

h3, form, input {
  font-family: 'Source Sans Pro', sans-serif;
}

.field, .form-preview {
  background-color: #E6EEEF;
  padding: 2rem;
}

button {
  background-color: #018298;
  border: solid #018298 0.04rem;
  border-radius: 0.25rem;
  color: #FFFFFF;
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  padding: 0.9rem;
  text-decoration: none;
}

input {
  border: solid 0.04rem #A8A8A8;
  border-radius: 0.25rem;
  display: flex;
  font-size:1.1rem;
  margin-bottom: 1.25rem;
  max-width: 100%;
  padding:0.7rem;
  width: 30rem;
}

.input-type {
  width: 10rem;
}

.edit-fields {
  text-align: right;
  width: 100%;
}

.field-edit, .field-delete {
  border-radius: 1.5rem;
  font-size: 0.8rem;
  padding: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.field-edit {
  background-color: #008A00;
  display: inline-block;
  margin-bottom: 3rem;
  margin-right: 0.5rem;
}

.field-delete {
  background-color: #B80000;
}

label {
  font-size: 0.95rem;
  font-weight: 300;
}

.small-text {
  width: 5rem;
}

.medium-text {
  width: 10rem;
}

hr {
  margin-bottom: 1.5rem;
}

.name, .address {
  display: block;
}

.edit, .save {
  background-color: #374F53;
  border-color: #374F53;
  padding: 1.2rem 1.5rem;
}

.edit {
  margin-right: 0.65rem;
}

.form-buttons {
  text-align: right;
  margin-top: 2rem;
}

@media screen and (min-width: 48rem) {
  .row {
    display: flex;
  }

  .column {
    float: left;
  }

  .field {
    background-color: #DFDFDF;
    padding: 1.75rem;
    width:20%;
  }

  .form-preview {
    background-color: #E6EEEF;
    padding: 2rem;
    width: 75%;
  }

  .name, .address {
    display: flex;
    flex-wrap: wrap;
  }

  input[name="firstname"], input[name="address"], input[name="apt"], input[name="city"], input[name="state"]{
    margin-right: 1rem;
  }

  input[name="address"] {
    width: 32rem;
  }

  input[name="city"] {
    width: 18rem;
  }

  input[name="state"] {
    width: 11.5rem;
  }
}
